{{#each items as |item| }}

  <div  id="homeCard" class="card p-3" style="width: 25rem; display:inline-block; margin: 20px;" >
     <div class="card-header">
  
     <h3>
      <a  href="/users/{{item.user.id}}">{{item.user.username}}</a>
    </h3>

  </div>
    <blockquote class="blockquote mb-0 card-body">

    <ul class="list-group list-group-flush">

    <li class="list-group-item"><strong>Restaurant:</strong> {{item.location.restaurant_name}}</li>
    <li class="list-group-item"><strong>Item:</strong> {{item.name}}</li>
    <li class="list-group-item"><strong>Price:</strong> ${{item.price}}</li>
    <li class="list-group-item"><strong>Original price:</strong> ${{item.originalPrice}}</li>
    <li class="list-group-item"><strong>Deal day:</strong> {{item.dealDay}}</li>
    <li class="list-group-item"><strong>Deal type:</strong> {{item.dealType}}</li>

  </ul>
      
    </blockquote>
  </div>

</div>
</div>
{{/each}}