{{#each items as |item| }}
 
 <div class="card" id="home-card" style=" ">
  <div class="card-header">
    <a id="hp-head" href="/profile/{{item.user.username}}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
</svg>{{item.user.username}}</a>
  </div>

  <ul class="list-group list-group-homepage list-group-flush" style=" padding:20px; margin: 0 auto; border-radius: 10px; margin-top: 10px;  background: linear-gradient(45deg,rgb(225, 233, 240), rgb(197, 221, 238),rgb(160, 207, 244)); ">

    <li id="res" class="list-group-item"><h3><strong>{{item.location.restaurantName}},</strong><br>{{item.location.restaurantCity}}</h3></li>
    <li class="list-group-item"><strong>Happy Hour Deal:</strong> ${{item.price}}</li>
    <li class="list-group-item"><strong>Original Price:</strong> ${{item.originalPrice}}</li>
    <li class="list-group-item"><strong>Item:</strong> {{item.name}}</li>
    <li class="list-group-item"><strong>Deal Day(s):</strong> {{item.dealDay}}</li>
    <li class="list-group-item"><strong>Time:</strong> {{item.startTime}}pm - {{item.endTime}}pm</li>

  </ul>
</div>

{{/each}}

<script src="./js/homepage.js"></script>