{{#each items as |item| }}
<div class="row mb-4 item">
  <div class="col-md-5">

    <h3>
      <a href="/users/{{item.user.id}}">{{item.user.username}}</a>
    </h3>

    <hr>

    <h4>{{item.location.restaurant_name}}</h4>

    <ul>
        <li>Item: {{item.name}}</li>
        <li>Deal: {{item.price}}</li>
        <li>Original price: {{item.originalPrice}}</li>
        <li>Deal day: {{item.dealDay}}</li>
        <li>Deal type: {{item.dealType}}</li>

    </ul>
   
  </div>
</div>

{{/each}}