{{#if canEdit}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

  {{#if items.length}}
  <div class="col-md-6 project-list">
    <h3>Current Posts:</h3>

    {{#each items as |item| }}

  
  <div class="card mb-3" id="profile-card" style="max-width: 540px; height: 10rem; border-radius: 10px; margin: 0 auto; display:block;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body" style="text-align:center;">
       <h3 class="card-title" style="font-family:'Courier New', Courier, monospace; font-size: 30px; margin-bottom: 10px;">{{item.location.restaurantName}},<br>{{item.location.restaurantCity}}</h3>
       <p id="item-name">${{item.price}} {{item.name}}</p>
       <p class="fas fa-trash-alt float-right text-danger delete-note"></p>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{{/each}}
  </div>
  {{/if}}
  {{!-- <button id="logout-btn" class="">
    Log Out
  </button> --}}
</div>
{{else}}
<div class="row">
  <div class="col-auto">
    <h2>{{username}}'s Profile</h2>
  </div>
</div>

  {{#if items.length}}
  <div class="col-md-6 project-list">
    <h3>Their Current Posts:</h3>

    {{#each items as |item|}}
    <div class="row mb-4 item">
      <div class="col-md-5">
        <hr>
        <h4>{{item.location.restaurantName}}</h4>
        <h4>{{item.location.restaurantCity}}</h4>
        <ul>
            <li>Item: {{item.name}}</li>
            <li>Deal: {{item.price}}</li>
            <li>Original price: {{item.originalPrice}}</li>
            <li>Deal day: {{item.dealDay}}</li>
            <li>Deal type: {{item.dealType}}</li>
        </ul> 
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
{{/if}}


<script src="./js/profile.js"></script>
<script src=".././js/profile.js"></script>